/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html{
	height: auto;
        min-height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
   min-height: 100%;
	font-family: montserrat, arial, verdana, tahoma, sans-serif, "lucida grande";
          
}
/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto !important;
	text-align: center;
	position: relative;
}
#msformCat {
	width: 400px;
	margin: 50px auto !important;
	text-align: center;
	position:relative ;
}
/*Perfil de usuario css */
#msformPerfil {
    width:800px;
    margin: 45px auto;
    text-align: left;
    position: fixed;
    left: 260px;
    
    
}

.msformProp {
    width: 350px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    
    
}

.rotulo
{
    display: block;
    float: left;
    width: 140px;
    font-size: 12px;
    color:#808080;
}

.valor
{
    font-size: 12px;
}

#perfil_izquierda
{
/*    float: top;*/
    padding: 25px;
    margin: 25px;
}

#perfil_derecha
{
    padding: 25px;
    margin: 25px;
      border-right: 2px solid #DDDDDD;
    border-left: 2px solid #DDDDDD;
}
.contenedor_principal
{
    clear: both;
    padding: 10px;
}

.contenedor_principal .izquierda
{
    float:left;
    border-right: 2px solid #DDDDDD;
    padding: 25px;
    margin: 25px;
}

.contenedor_principal .derecha
{
    padding: 25px;
    margin: 25px;
}

.contenedor_principal .derecha input
{
    margin-top: 5px;
}

.main
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.93);
	  border: 1px solid #CCCCCC;
    margin: 0 auto;
    width: 80%;
	border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 8px #FFFFFF;
    padding: 30px;
}




.msformProp fieldset {
	background: white;
	border: 0 #2C3E50;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	/*stacking fieldsets above each other*/
	position: relative;
}

.msformProp fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
.msformProp input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*combobox*/
.msformProp select, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
.msformProp .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
.msformProp .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

#msformCat fieldset {
	background: white;
        float: right;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	/*stacking fieldsets above each other*/
	position: static;
}
#msform fieldset {
	background: white;
	border: 0 #2C3E50;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*combobox*/
#msform select, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 10px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

#legendPerf {
   
    color: #fff;
    padding: 3px 10px;
    font-size: 20px;
   text-align: center;
}

#legendErr{
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    
    
}

#divLeg{
background-color: rgba(0, 0, 0, 0.5);
 margin: auto;   
    border-radius: 99px 99px 99px 0px;
-moz-border-radius: 99px 99px 99px 0px;
-webkit-border-radius: 99px 99px 99px 0px;
border: 0px solid #000000;
}


#divTablas{
    
    background-color: rgba(0, 0, 0, 0.5);
 margin: auto;   
    border-radius: 21px 21px 21px 0px;
-moz-border-radius: 21px 21px 21px 0px;
-webkit-border-radius: 21px 21px 21px 0px;
border: 0px solid #000000;
    
    
}

#imagenot{
    border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 3px solid #ffffff;
    
    
}


.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

table {
    border-collapse: collapse;
    width: 50%;
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
.datagrid table { 
    border-collapse: collapse; 
    text-align: left;
    width: 100%; 
} 

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif; 
    background: #fff;
    overflow: hidden;
    border: 2px solid #36752D;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

.datagrid table td, .datagrid table th { 
    padding: 9px 20px; 
}
.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );
    background:-moz-linear-gradient( center top, #36752D 5%, #275420 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
    background-color:#36752D;
    color:#FFFFFF;
    font-size: 15px;
    font-weight: bold; 
    border-left: 0px solid #36752D;
} 

.datagrid table thead th:first-child { 
    border: none;
}

.datagrid table tbody td { 
    color: #275420; 
    border-left: 4px solid #C6FFC2;
    font-size: 12px;
    font-weight: normal; 
}

.datagrid table tbody .alt td { 
    background: #DFFFDE; 
    color: #275420;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td { 
    border-bottom: none; 
}

.datagrid table tfoot td div { 
    border-top: 1px solid #36752D;
    background: #DFFFDE;
} .datagrid table tfoot td { 
    padding: 0;
    font-size: 11px
}


.datagrid table tfoot td div{
    padding: 0px;
}

.datagrid table tfoot td ul { 
    margin: 0; 
    padding:0; 
    list-style: none; 
    text-align: right;
}

.datagrid table tfoot  li {
    
   display: inline; 
}

.datagrid table tfoot li a { 
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px; 
    margin: 1px;
    color: #FFFFFF;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );
    background:-moz-linear-gradient( center top, #36752D 5%, #275420 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
    background-color:#36752D;
}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
    text-decoration: none;
        border-color: #275420;
        color: #FFFFFF; 
        background: none;
        background-color:#36752D;
}
div.dhtmlx_window_active, div.dhx_modal_cover_dv { 
    position: fixed !important; 
}

/*nuevooooooooooooo*/

.demo-list-icon {
  width: 300px;
}

nav ul{height:400px; width:18%;}
nav ul{overflow:hidden; overflow-y:scroll;}

